registry = https://artifactory.globoi.com/artifactory/api/npm/npm-repos/
_auth = dHZzY29uZWN0YWRhc2dsb2Jvc2F0QGNvcnAuZ2xvYm8uY29tOkFQNFVrQ2t5MkJZeUNkb3BSMW9uM01vSHNlS2V6cVVmRGdOdnFt
email = tvsconectadasglobosat@corp.globo.com
always-auth = true
